<?xml version="1.0"?>

<robot name="robot1_xacro" xmlns:xacro="http://www.ros.org/xacro">
  <xacro:include filename = "inertia.xacro"/>
  <xacro:include filename = "macros.xacro"/>
  <xacro:include filename = "gazebo_plugin.xacro"/>
  
    <!-- ************************ Base Link ******************************** -->
   <link name = "base_link">
    <pose>0 0 0.0375 0 0 0</pose>
    <visual>
        <origin xyz="0 0 0.009375" rpy="0 0 0" />  
        <geometry>
            <box size = "0.1125 0.075 0.0375"/>
        </geometry>
    </visual>
    <collision>
      <geometry>
            <box size = "0.1125 0.075 0.0375"/>
        </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.375"/>
      <xacro:box_inertia mass="0.375" x="0.1125" y="0.1" z="0.0375" />
    </inertial>
  </link>
  <gazebo reference="base_link">
    	<turnGravityOff>false</turnGravityOff>
  </gazebo>
  <!-- ************************ Laseer Sensor ******************************** -->

 <link name="sensor_laser">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.375"/>
      <xacro:cy_inertia mass="0.375" r="0.028125" l="0.009375" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.028125" length="0.009375"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.028125" length="0.009375"/>
      </geometry>
    </collision>
  </link> 

  <joint name="joint_sensor_laser" type="fixed">
     <origin xyz="0.05625 0 0.009375" rpy="0 0 0"/>
     <parent link="base_link"/>
     <child link="sensor_laser"/>
    
  </joint>
  <!-- ************************ Camera ******************************** -->
	<link name="camera">
	    <collision>
	    	<origin xyz="0 0 0" rpy="0 0 0"/>
	      	<geometry>
	    		<box size="0.0375 0.075 0.075"/>
	      	</geometry>
	    </collision>

	    <visual>
	    	<origin xyz="0 0 0" rpy="0 0 0"/>
	      	<geometry>
	    		<box size="0.01875 0.075 0.01875"/>
	      	</geometry>
	      	<material name="crusta"/>
	    </visual>

		<inertial>
			<origin xyz="0 0 0" />
			<mass value="0.375"/>

      <xacro:box_inertia mass="0.375" x="0.01875" y="0.075" z="0.075"/>
			
		</inertial>
	</link>

	<joint name="camera_joint" type="fixed">
	    <parent link="base_link"/>
	    <child link="camera"/>
	    <origin xyz="0.0375 0 0.0375" rpy="0 0 0"/>
	</joint>


  <!-- ************************ Wheelz and Jointz ******************************** -->
  <xacro:wheelz name = "back_right_wheel_link"/>
  <xacro:jointz name = "base_to_right_wheel" child = "back_right_wheel_link" origin_xyz = "-0.0375 -0.0375 0.0"/>

  <xacro:wheelz name = "back_left_wheel_link"/>
  <xacro:jointz name = "back_to_left_wheel" child = "back_left_wheel_link" origin_xyz = "-0.0375 0.0375 0.0"/>

  <xacro:wheelz name = "front_right_wheel_link"/>
  <xacro:jointz name = "base_to_front_right_wheel" child = "front_right_wheel_link" origin_xyz = "0.0375 -0.0375 0.0"/>

  <xacro:wheelz name = "front_left_wheel_link"/>
  <xacro:jointz name = "base_to_front_left_wheel" child = "front_left_wheel_link" origin_xyz = "0.0375 0.0375 0.0"/>
  
    
</robot>